<div class="menu">
    <div class="forms">
        <h1>Parolni qayta tiklash</h1>
        <label>Telefon raqamni kiriting</label>
        <input type="text" id="TELEPHONE">
        <hr>
        <button class="signIn" type="button">SMS yuborish</button>
    </div>
</div>

<script>

    const telephone = document.getElementById("TELEPHONE")
    IMask(telephone, {
        mask: '+998000000000',
    })
</script>