<div class="menu">
    <div class="forms">
        <h1>Parolni qayta tiklash</h1>
        <label>Yangi parolni kiriting</label>
        <input type="password" id="PASSWORD_1">
        <label>Parolni qayta kiriting</label>
        <input type="password" id="PASSWORD_2">
        <hr>
        <button class="signIn" type="button">Saqlash</button>
    </div>
</div>

