<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- Favicons -->
    <link rel="icon" type="image/png" href="/icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="/icon/favicon-32x32.png">

    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/toastr/toastr.min.css">
    <script src="/toastr/notification.js"></script>
    <script src="/axios.min.js"></script>
    <script src="/jquery.min.js"></script>
    <script src="/imask.js"></script>
    <script src="/toastr/toastr.min.js"></script>
    <script src="/toastr/toastr.init.js"></script>
    <script src="/bootstrap.min.js"></script>

</head>

<body style="z-index: 0;">

    <%- body %>


</body>

</html>